[Desktop Entry]
Name=BurgerSpace
Categories=Game;ArcadeGame;
Comment=BurgerTime clone
Comment[fr]=Clone de BurgerTime
Exec=burgerspace
Icon=burgerspace
Terminal=false
Type=Application
