[Desktop Entry]
Name=BurgerSpace
Categories=X-Red-Hat-Base;Application;Game;ArcadeGame;
Comment=BurgerTime clone
Comment[fr]=Clone de BurgerTime
Exec=burgerspace
Icon=burgerspace.png
Terminal=0
Type=Application
