[Desktop Entry]
Name=BurgerSpace
Categories=X-Red-Hat-Base;Application;Game;ArcadeGame;
Comment=A hamburger-smashing video game
Comment[fr]=Un jeu de hamburgers qu'on écrase
Exec=burgerspace
Icon=burgerspace
Terminal=false
Type=Application
